<!-- mycars/templates/mycars/base.html -->
{% load static %}
<html>

<head>
    <title>MyCars</title>
    <link rel="stylesheet" href="{% static 'css/mycars.css' %}">
</head>

<body>
    <h1>My.Cars</h1>
    <nav>
        <a href="/">Years</a>
        <a href="{% url 'modeltype_list' %}">Models</a>
        <div class="user-info">
            {% if user.is_authenticated %} Welcome, {{ user.username }}
            <a href="{% url 'logout' %}">Log out</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Signup</a>
            {% endif %}
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>

</html>