{% extends 'mycars/base.html' %}

{% block content %}
<h2>Model: {{ modeltype.name }} <a href="{% url 'modeltype_edit' pk=modeltype.pk %}">(edit)</a></h2>
<h3>Year: {{ modeltype.year.model_year }}</h3>
<p>Trim: {{ modeltype.trim }}</p>
<p>Description: {{ modeltype.description }}</p>
    {% if modeltype.image_url %}
        <img src="{{ modeltype.image_url }}" alt="" class="modeltype-photo">
    {% endif %}
    {% if modeltype.image_file %}
        <img src="/media/{{ modeltype.image_file }}" alt="" class="modeltype-photo">
    {% endif %}
<div>
    <a href="{% url 'modeltype_delete' pk=modeltype.pk %}">DELETE</a>
</div>
{% endblock %}